.navbar-custom {
  background-color:  #90E1E2;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #2B2F47;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(43,47,71,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: rgb(43,47,71);
}

footer {
	padding: 40px 0 0 0;
	background:#99ccff;
	color: white;
	text-align: left;
}

.footer-container  {
    padding: 0 120px 0px 120px;
}

.footer-left a { color: #ddd; border-bottom: 1px dashed #ddd; }
.footer-left a:hover, .footer-left a:focus { color: #ddd; border: 0; }

.footer-right {
	text-align: right;
}

.footer-right a {
	margin: 0 6px;
    font-size: 32px;
    color: white;
}
.footer-right a:hover, .footer-right a:focus { color: #eee; }

.footer-bottom {
	padding-bottom: 25px;
	text-align: center;
}

.footer-bottom a {
	font-size: 32px;
    color: white;
    line-height: 40px;
}

.footer-bottom a:hover, .footer-bottom a:focus { color: #888; }

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
    color: #fff;
    background-color:  #90E1E2;
    border-color:  #90E1E2; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #90E1E2;
    border-color:  #90E1E2; /*set the color you want here*/
}
